In [2]:
import pandas as pd

In [11]:
data = pd.read_csv('my_data.csv')

In [12]:
data

       name   profession     country
0      Gero   Programmer        Cuba
1       Mar         HHRR   Catalonia
2  Cristina        Optic       Spain

In [14]:
data.rename(columns={'name':'nombre', 'profession': 'work'})

     nombre   profession     country
0      Gero   Programmer        Cuba
1       Mar         HHRR   Catalonia
2  Cristina        Optic       Spain