In [85]:
from bisect import bisect, insort
from random import randint

In [86]:
li = [randint(1, 50) for _ in range(10)]

In [87]:
li

[11, 3, 25, 3, 20, 18, 13, 27, 39, 12]

In [88]:
li.sort()

In [89]:
li

[3, 3, 11, 12, 13, 18, 20, 25, 27, 39]

In [90]:
elem_to_add = 5

In [92]:
insort(a=li, x=elem_to_add)

In [93]:
li

[3, 3, 5, 11, 12, 13, 18, 20, 25, 27, 39]

In [94]:
# -----------------------------------------------------------------

In [95]:
from collections import namedtuple
from operator import attrgetter
from pprint import pprint

In [96]:
Movie = namedtuple("Movie", "name released director")

In [98]:
movies = [
    Movie("Jaws", 1975, "Spielberg"),
    Movie("Titanic", 1997, "Cameron"),
    Movie("The Birds", 1963, "Hitchcock"),
    Movie("Aliens", 1986, "Cameron"),
]

In [113]:
# Find the first movie released after 1960
by_year = attrgetter("released")
movies.sort(key=by_year)

# You have to SORT it before you can use BISECT
movies[bisect(movies, 1960, key=by_year)]

Movie(name='The Birds', released=1963, director='Hitchcock')

In [114]:
# INSERT a movie while MAINTAINING SORT order

In [115]:
fantasy = Movie("Harry Potter and the Philosopher's Stone'", 2001, "Chris Columbus")

In [116]:
insort(movies, fantasy, key=by_year)

In [119]:
pprint(movies)

[Movie(name='The Birds', released=1963, director='Hitchcock'),
 Movie(name='Jaws', released=1975, director='Spielberg'),
 Movie(name='Aliens', released=1986, director='Cameron'),
 Movie(name='Titanic', released=1997, director='Cameron'),
 Movie(name="Harry Potter and the Philosopher's Stone'", released=2001, director='Chris Columbus')]

In [120]:
science_fiction = Movie("Matrix", 1999, "Waschauski Brothers")

In [121]:
insort(movies, science_fiction, key=by_year)

In [122]:
pprint(movies)

[Movie(name='The Birds', released=1963, director='Hitchcock'),
 Movie(name='Jaws', released=1975, director='Spielberg'),
 Movie(name='Aliens', released=1986, director='Cameron'),
 Movie(name='Titanic', released=1997, director='Cameron'),
 Movie(name='Matrix', released=1999, director='Waschauski Brothers'),
 Movie(name="Harry Potter and the Philosopher's Stone'", released=2001, director='Chris Columbus')]

In [123]:
type(movies)

list